# Laravel
/vendor
/.phpunit.cache
.phpunit.result.cache
/storage/*.key
/storage/framework/cache/data
/storage/framework/sessions
/storage/framework/views
/storage/logs
/storage/debugbar
/public/storage
/public/hot
/public/build
.env
.env.*
composer.lock

# Node.js & Frontend
/node_modules
/.vite
/dist
/build
npm-debug.log*
yarn-error.log*
pnpm-lock.yaml

# IDE/Editor
/.idea
/.vscode
/.fleet
/.zed
.phpactor.json

# Homestead
Homestead.json
Homestead.yaml

# Laravel Nova
/.nova

# Misc
.DS_Store
/auth.json
